{{/* Author profile box */}}

{{ $author_urlized := anchorize . }}

{{ $taxonomy := "authors" }}
{{ $profile_page := site.GetPage (printf "/%s/%s" $taxonomy $author_urlized) }}
{{ with $profile_page }}
{{ $profile_url := .RelPermalink }}
<div class="media author-card content-widget-hr">
    <img class="portrait mr-3"
        src="https://avatars.githubusercontent.com/{{ .Params.github }}"
        alt="Avatar">

    <div class="media-body">
        <h5 class="card-title">
            <a href="{{ $profile_url }}">{{ .Params.name }}</a>
        </h5>
        {{ with .Params.role }}
        <h6 class="card-subtitle"> {{ . | markdownify | emojify }}</h6>
        {{ end }}

        {{ with .Params.bio }}
        <p class="card-text">{{ . | markdownify | emojify }} </p>
        {{end}}

        {{ partial "social_links" . }}
    </div>
</div>
{{ end }}