#navbar-main {
    position: sticky !important;
    z-index: 1000000;
}

@include media-breakpoint-down(md) {
    #navbar-content {
        overflow-y: auto;
        max-height: 100vh;
    }
}

body {
    margin-top: 0 !important;
}
