$brand-white: #fefefe;
$brand-gold:  #ffc904; // this is the UCF gold, if it changes, we should

// $site-bg: #26292b;
// $site-bg: #e3eaf1;
$site-bg: #fefefe;

$nav-def-bg: #262d33;
$nav-active: #39434a;

.text-gold {
	color: $brand-gold;
}