{{/* This Layout renders the "meta-page" for "/groups". */}}
{{ $page := . }}

{{ partial "custom-header" $page }}

<div class="article-container">

  {{ $page.Content }}
  
  {{- if (eq $page.Title "Groups") }}

    {{ $page.Scratch.Set "show-group" true }}
  
    {{ $page.Scratch.Set "show-if-none" true }}
    {{ $page.Scratch.Set "status" "active" }}
    {{ partial "groups/status" $page }}
  
    {{ $page.Scratch.Set "status" "archived" }}
    {{ $page.Scratch.Set "show-if-none" false }}
    {{ partial "groups/status" $page }}

  {{- else }}

    <h2> Past and Present Semesters </h2>
    <div class="row row-cols-1 row-cols-md-2">
      {{ range $page.Pages.ByWeight }}
        {{/* Ran into some quirks with inhereting from $page.Scratch... */}}
        {{ .Scratch.Set "pager" false }}
        {{ partial "card" . }}
      {{ end }}
    </div>

  {{- end }}

</div>