{{ $ := . }}
{{ $page  := .}}

<div class="container-md ">
  <div id="groups-mega-menu" class="row row-cols-md-4 row-cols-1">
    {{ $page.Scratch.Set "semester" (partial "functions/infer-semester" $page)}}
    {{ $page.Scratch.Set "status" "all" }}

    {{ $groups := partial "functions/get-groups" $page }}

    {{ range $group := $groups }}
      <div class="col offerings">
          <h4> <a href="{{ $group.RelPermalink }}">{{ $group.Title }} </a></h4>
        <ul>
          {{ $siblings := $group.Pages | sort }}
          {{ range $sibling := $siblings }}
            {{ $classes := slice }}
            {{ if in $page.RelPermalink $sibling.RelPermalink }}
              {{ $classes = $classes | append "active" }}
            {{ end }}
            {{ if in $sibling.RelPermalink site.Data.config.semester }}
              {{ $classes = $classes | append "current" }}
            {{ end}}
            <li class="nav-item {{ delimit $classes " " }}">
              <a class="nav-link" href="{{ $sibling.RelPermalink }}">
                {{ $sibling.Title }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

    {{ $page.Scratch.Delete "status" }}
  </div>
</div>
