div.syllabus-entry {
	background: #fefefe;
	border-radius: 0.5em;
	border: 2px solid #e4e4e4;
	padding: 1em;
	display: flex;
	flex-direction: row;

	div.entry-banner {
		margin-right: 1em;
		img {
			border-radius: 0.25em;
			background-color: #252525;
			min-height: 12.5vh;
		}
	}

	div.entry-body {
		color: #252525;
		display: flex;
		flex-direction: column;
		position: relative;

		a.entry-title {
			h4 {
				font-size: 1.25em;
				line-height: 1.5em;
			}
		}

		p.entry-desc {
			font-size: 0.875em;
			line-height: 1.125em;
		}

		div.entry-meta {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-self: flex-end;
			position: relative;
			bottom: 0;

			div.entry-links {
				display: flex;
				flex-direction: row;

				a.entry-link {
					text-align: center;
					height: 2em;
					min-width: 2em;
					line-height: 2em;
					border-radius: 0.25em;
					margin-right: 0.5em;
					position: relative;

					svg {
						margin: (2em - 1.25em) / 2;
						width: 1.25em;
						height: 1.25em;
					}

					&.entry-github {
						background-color: #333333; color: #fefefe;
					}
					&.entry-colab  {
						background-color: #fdde3c; color: #252525;
					}
				}
			}

			div.entry-authors {
				a.entry-author {
					display: flex;
					height: 2em;
					border-radius: 1em;
					background-color: #e4e4e4;
					line-height: 2em;

					img.profile {
						width: 2em;
						height: 2em;
						border-radius: 1em;
						background-color: #252525;
					}
					span {
						font-weight: bold;
						padding: 0 1em 0 0.5em;
						font-size: 0.875em;
					}
				}
			}
		}
	}
}