{{ $url := .Params.urls }}

{{ with $url.youtube }}
<!-- YouTube button -->
<a class="btn btn-primary my-1 mr-1" href="{{ . }}">
    <i class="fab fa-youtube mr-1"></i>
    Watch along on YouTube
</a>
{{ end }}

{{ with $url.slides }}
<!-- Slides button -->
<a class="btn btn-primary my-1 mr-1" href="{{ . }}">
    <i class="fas fa-chalkboard mr-1"></i>
    Take a look at the deck
</a>
{{ end }}

{{ with $url.github }}
<!-- GitHub button -->
<a class="btn btn-primary my-1 mr-1" href="{{ . }}">
    <i class="fab fa-github mr-1"></i>
    View the Notebook on Github
</a>
{{ end }}

{{ with $url.kaggle }}
<!-- Kaggle button -->
<a class="btn btn-primary my-1 mr-1" href="{{ . }}">
    <i class="fab fa-kaggle mr-1"></i>
    Follow along on Kaggle (recommended)
</a>
{{ end }}

{{ with $url.colab }}
<!-- Google Colab button -->
<a class="btn btn-primary my-1 mr-1" href="{{ . }}">
    <i class="fas fa-infinity mr-1"></i>
    Follow along on Google Colab
</a>
{{ end }}