.text-gold {
  color: #ffc904; }

span, p, h1, h2, h3, h4, h5, h6, a, li, div, b, strong, i, em {
  font-family: "Fira Sans", sans-serif !important; }

h1.sigai-section-title {
  color: #09de6b;
  text-align: center;
  font-size: 27px;
  line-height: 64px;
  height: 64px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-bottom: 1px solid #c8c8c8; }

.sigai-brand {
  font-weight: bold;
  font-family: "PT Sans", "Fira Sans", sans-serif !important; }
  .sigai-brand:before {
    content: "sigai";
    color: #fefefe; }
  .sigai-brand:after {
    content: "@ucf";
    color: #ffc904; }

.navbar-brand {
  padding: 16px 32px !important;
  margin: 0 !important;
  display: flex !important;
  flex-direction: row; }
  .navbar-brand span {
    color: #fefefe;
    font-size: 17px;
    line-height: 32px;
    height: 32px; }

.navbar-brand.group, .navbar-brand.active {
  background: #39434a; }

.alert.alert-sigai-mission {
  background: #464d54; }

.group-meet {
  color: #fefefe; }
  .group-meet a, .group-meet span {
    color: #ffc904; }

body#ucfai-dark header {
  background-color: transparent; }

body#ucfai-light header {
  background-color: #222222; }

header {
  padding: 0;
  margin: 0;
  height: 5em;
  position: relative;
  z-index: 1000000000000; }
  header div#nav-container {
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  header div#nav-logo {
    display: flex;
    flex-direction: row; }
    header div#nav-logo img#logomark {
      margin: 1em 0;
      height: 3em; }
  header .nav-menu__item {
    height: 5em;
    padding: 1em;
    line-height: 3em;
    color: #fefefe;
    background: transparent;
    border: 0; }
  header nav#nav-menu div#nav-visible {
    display: flex;
    flex-direction: row; }
    header nav#nav-menu div#nav-visible #current-group {
      font-weight: bold;
      color: #ffc904; }
    header nav#nav-menu div#nav-visible #nav-menu__toggle {
      font-weight: bold; }

nav.sigai-navbar {
  height: 64px;
  padding: 0;
  margin: 0;
  background: #262d33;
  z-index: 1000000000000; }
  nav.sigai-navbar div.sigai-nav {
    padding: 0 16px;
    background: #262d33; }
    nav.sigai-navbar div.sigai-nav a.nav-item.nav-link {
      padding: 16px;
      font-weight: 500;
      line-height: 32px;
      color: #fefefe;
      text-decoration: none; }
      nav.sigai-navbar div.sigai-nav a.nav-item.nav-link:hover {
        cursor: pointer; }
      nav.sigai-navbar div.sigai-nav a.nav-item.nav-link.active {
        background: #39434a; }
  nav.sigai-navbar .navbar-toggler {
    height: 64px;
    width: 64px; }
    nav.sigai-navbar .navbar-toggler svg.fa-bars > path {
      fill: #fefefe !important; }

body#ucfai-dark {
  width: 100%;
  min-height: 720px;
  position: absolute;
  background-color: #252525; }

main#home.container {
  width: 100%;
  height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  main#home.container div#landing-page {
    display: flex;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    min-height: 350px; }
    main#home.container div#landing-page img#landing-logomark {
      width: 66%; }
    main#home.container div#landing-page div#landing-text h1, main#home.container div#landing-page div#landing-text h2, main#home.container div#landing-page div#landing-text h3, main#home.container div#landing-page div#landing-text h4, main#home.container div#landing-page div#landing-text h5, main#home.container div#landing-page div#landing-text h6, main#home.container div#landing-page div#landing-text a, main#home.container div#landing-page div#landing-text p, main#home.container div#landing-page div#landing-text span {
      color: #fefefe; }
  main#home.container div#group-cards {
    display: flex; }
  main#home.container a {
    font-weight: bold; }

div#particles-js {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10; }
  div#particles-js div#fade {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    background: linear-gradient(45deg, #252525 35%, rgba(37, 37, 37, 0)); }
  div#particles-js canvas {
    z-index: 10;
    display: block;
    position: absolute;
    vertical-align: bottom; }

main#group.container {
  color: #fefefe; }

div#nb-heading {
  text-align: center; }
  div#nb-heading p#nb-date {
    font-style: italic; }

div#notebook-links a[id^="notebook-links"] {
  height: 3em;
  width: 100%;
  border-radius: 0.25em;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 3em; }
  div#notebook-links a[id^="notebook-links"]:not(last-child) {
    margin-bottom: 1em; }

div#nb-next {
  background: #f9f9f9; }

a[id$="__github"], a[class$="__github"] {
  color: #f5f5f5;
  background-color: #333333; }

a[id$="__colab"], a[class$="__colab"] {
  color: #252525;
  background-color: #fdde3c; }

div.coordinator-entry {
  background: #fefefe;
  border-radius: 0.5em;
  border: 2px solid #e4e4e4;
  padding: 0.5em;
  text-overflow: ellipsis;
  color: #252525; }
  div.coordinator-entry img.coordinator-entry__img {
    border-radius: 0.25em;
    width: 100%; }
  div.coordinator-entry div {
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden; }
    div.coordinator-entry div a.coordinator-entry__github {
      color: #252525;
      background: transparent; }

div#thisweek {
  min-height: 3em;
  line-height: 3em;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  div#thisweek a#semester-syllabus {
    border-radius: 0.25em;
    color: #074C5a;
    background-color: #2dc2e0;
    font-weight: bold;
    height: 3em;
    padding: 0 2em;
    text-align: center; }

div.syllabus-entry {
  background: #fefefe;
  border-radius: 0.5em;
  border: 2px solid #e4e4e4;
  padding: 1em;
  display: flex;
  margin: inherit 0 !important; }
  div.syllabus-entry div.entry-banner {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    div.syllabus-entry div.entry-banner img {
      width: 100%;
      border-radius: 0.25em;
      background-color: #252525; }
  div.syllabus-entry div.entry-body {
    padding: 0;
    color: #252525;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative; }
    div.syllabus-entry div.entry-body div.entry-text a.entry-title h4 {
      font-size: 1.25em;
      line-height: 1.5em;
      margin: 0 0 0.75em 0; }
    div.syllabus-entry div.entry-body div.entry-text p.entry-desc {
      font-size: 1em;
      line-height: 1.125em;
      margin: 0.5em 0; }
    div.syllabus-entry div.entry-body div.entry-meta {
      margin: 0.75em 0 0 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: flex-end;
      position: relative; }
      div.syllabus-entry div.entry-body div.entry-meta div.entry-links {
        display: flex;
        flex-direction: row; }
        div.syllabus-entry div.entry-body div.entry-meta div.entry-links a.entry-link {
          text-align: center;
          height: 2em;
          min-width: 2em;
          line-height: 2em;
          border-radius: 0.25em;
          margin-right: 0.5em;
          position: relative; }
          div.syllabus-entry div.entry-body div.entry-meta div.entry-links a.entry-link svg {
            margin: 0.375em;
            width: 1.25em;
            height: 1.25em; }
          div.syllabus-entry div.entry-body div.entry-meta div.entry-links a.entry-link.entry-github {
            background-color: #333333;
            color: #fefefe; }
          div.syllabus-entry div.entry-body div.entry-meta div.entry-links a.entry-link.entry-colab {
            background-color: #fdde3c;
            color: #252525; }

div.nb-authors {
  display: flex; }
  div.nb-authors a.nb-author {
    display: flex;
    background-color: #e4e4e4; }
    div.nb-authors a.nb-author img.profile {
      background-color: #252525; }
    div.nb-authors a.nb-author span {
      font-weight: bold;
      padding: 0 1em 0 0.5em;
      font-size: 0.875em; }
    div.nb-authors a.nb-author.sm {
      height: 2em;
      line-height: 2em;
      border-radius: 1em; }
      div.nb-authors a.nb-author.sm img.profile {
        width: 2em;
        height: 2em;
        border-radius: 1em; }
    div.nb-authors a.nb-author.lg {
      height: 3em;
      line-height: 3em;
      border-radius: 1.5em; }
      div.nb-authors a.nb-author.lg img.profile {
        width: 3em;
        height: 3em;
        border-radius: 1.5em; }
    div.nb-authors a.nb-author:not(first-child) {
      margin-left: 0.5em; }

body {
  background-color: #fefefe; }

main.container {
  z-index: 100000;
  position: relative; }
