{{ $pages := .Pages }}
{{ $pager := .Scratch.Get "pager" | default false }}

{{ $tz := "America/New_York" }}
{{ $fmt := "2006-01-02 15:04:05" }}

{{ $today := time now }}
{{ $tomorrow := time (now.AddDate 0 0 1) }}
{{ $nextWeek := time (now.AddDate 0 0 7) }}

{{ $next := "" }}
{{ if and (not $pager) $pages }}
    {{ $page := sort $pages ".Date" "desc" }}
    {{ if gt (index $page 0).Date $today }}
        {{ $page = sort $pages ".Date" "asc" }}
        {{ $page = where $page ".Date" ">=" $today }}
    {{ end }}

    {{ $date := time (index $page 0).Date }}

    {{ $dayFmt := "Last met on Jan 02, 2006" }}
    {{ $timeFmt := "at 03:04 PM" }}

    {{ if eq $date.YearDay $today.YearDay }}
        {{ $dayFmt = "Today" }}
    {{ else if eq $date.YearDay $tomorrow.YearDay }}
        {{ $dayFmt = "Tomorrow" }}
    {{ else if gt $date $nextWeek }}
        {{ $dayFmt = "On Mon, Jan 02" }}
    {{ else if (lt $date $nextWeek) | and (gt $date $today) }}
        {{ $dayFmt = "Next Mon, Jan 02" }}
    {{ end }}

    {{ $next = printf "%s %s" ($date.Format $dayFmt) ($date.Format $timeFmt) }}
{{ end }}

{{ return $next }}