{{ $page := . }}
{{ $date := "" }}

{{ with $page.Pages }}
  {{ $pages := sort $page.Pages ".Date" "asc" }}
  {{ $first := index (first 1 $pages) 0 }}
  {{ $last := index (last 1 $pages) 0 }}
  {{ $diff := sub $last.Date.Unix $first.Date.Unix }}
  {{ $diff = div $diff 86400 }}

  {{ $nMeeting := float (len $pages) }}

  {{ $date = slice }}
  {{ $norm := (div $diff $nMeeting) }}
  {{ $margin := 3.5 }}

  {{ $evWeeklyMax := add 7 $margin }}
  {{ $evWeeklyMin := sub 7 $margin }}
  {{ $evWeekly := (ge $norm $evWeeklyMin) | and (lt $norm $evWeeklyMax) }}

  {{ $biWeeklyMax := add 14. $margin }}
  {{ $biWeeklyMin := sub 14. $margin }}
  {{ $biWeekly := (ge $norm $biWeeklyMin) | and (lt $norm $biWeeklyMax) }}

  {{ if $evWeekly }}
    {{ $date = $date | append "every" }}
  {{ else if $biWeekly }}
    {{ $date = $date | append "every other" }}
  {{ else }}
    {{ $date = $date | append "occasionally on" }}
  {{ end }}

  {{ with $page.Date }}
    {{ $date = $date | append (.Format "Mon at") }}
    {{ $date = $date | append (.Format "03:04 PM") }}
  {{ end }}

  {{ $date = delimit $date " " }}

  {{ if lt (len (split $date " ")) 2 }}
    {{ $date = "TBD" }}
  {{ end }}

{{ else }}

  {{ $date = partial "functions/get_event_dates" $page }}

{{ end }}

{{ return $date }}