{{/* This Layout renders for the following:
    - /archives
    - /archives/<semester>
  */}}
  
{{- define "main" -}}
  {{- $page := . -}}
  
  {{- $semester := $page.Scratch.Get "semester" -}}

  <div class="article">
    {{ partial "custom-header" $page }}
    <div class="article-container">
      {{ .Content }}

      {{ $page.Scratch.Set "show-group" false }}
      {{ $page.Scratch.Set "status" "active" }}
      {{ partial "groups/status" $page }}

      <h2> Officers </h2>
      <div class="row row-cols-1 row-cols-md-2">
        {{ $page.Scratch.Set "group" "all" }}
        {{ partial "groups/officers" $page }}
      </div>
    </div>
  </div>

{{- end -}}