{{/* Derived from "partials/li_card" */}}

{{- $page := . -}} 
{{- $pager := $page.Scratch.Get "pager" | default false -}}
{{- $showGroup := $page.Scratch.Get "show-group" | default false -}}
{{- $extracls := $page.Scratch.Get "extra-card-cls" | default "" -}}

{{- $direction := dict "prev" "left" "next" "right" -}}

<div class="col my-3 mx-auto {{ $extracls -}}">
  <div class="card-simple h-100">

    {{- if $pager -}}
    <div class="pager-symbol pager-{{ $pager }}" href="{{ $page.RelPermalink }}" rel="{{ $pager }}">
      <i class="fas fa-arrow-alt-circle-{{ index $direction $pager }} fa-fw"></i>
    </div>
    {{- end -}}

    <h4 class="card-title mt-0">
      {{- $link := cond $showGroup $page.Parent $page }}
      {{ $title := partial "functions/group-title" $link }}
      <a href="{{ $link.RelPermalink }}" rel="{{ $pager }}"> {{ $title }} </a>
    </h4>

    {{ $hasProperLocation := $page.Params.location | and ($page.Params.location | ne "<?UNK?>") }}
    {{ $hasProperDate := $page.Date | and ($page.Date | ne "<?UNK?>") }}
    {{ if $page.Params.authors | or $page.Date | or $hasProperLocation }}
    <div class="article-metadata">

      {{ with $page.Params.authors }}
      <div class="article-authors"> 
        <i class="fas fa-user-astronaut"></i>
        {{ partial "page_metadata_authors" $page }}
      </div>
      {{ end }}

      {{ $activeOrSingle := not $page.IsNode }}
      {{ if $hasProperDate }}
        {{ $nextMeet := "" }}
        {{ with $page.Pages }}
          {{ $nextMeet = partial "functions/get-upcoming-datestring" $page }}
          {{ $activeOrSingle = not (in $nextMeet "Last met") }}
          <div class="article-date-literal">
            <i class="fas fa-calendar-day mr-1"></i>
            <span> {{ $nextMeet }} </span>
          </div>
        {{ end }}
        {{ if $activeOrSingle }}
        <div class="article-date">
          <i class="fas fa-calendar mr-1"></i>
          {{ $datestring := partial "functions/infer-datestring" $page }}
          {{ $datestring = split $datestring " " }}
          {{ $first := index (first 1 $datestring) 0 }}
          {{ $rest := after 1 $datestring }}
          <span> {{ title $first }} {{ delimit $rest " " }} </span>
        </div>
        {{ end }}
      {{ end }}

      {{ if $hasProperLocation | and $activeOrSingle }}
      <div class="article-location">
        <i class="fas fa-building mr-1"></i>
        <span> {{ $page.Params.location }} </span>
      </div>
      {{ end }}
    </div>
    {{ end }}

    <details class="article-summary">
      <summary> Read more </summary>
      {{ with $page.Params.abstract }}
      <p> {{ . }}</p>
      {{ else }}
      <p> {{ $page.Summary }} </p>
      {{ end }}
    </details>

    <div class="card-content btn-links">
      {{ partial "links-custom" $page }}
    </div>
  </div>
</div>

{{ $page.Scratch.Delete "pager" }}
{{ $page.Scratch.Delete "show-group" }}
{{ $page.Scratch.Delete "extra-card-cls" }}