{{- $page := . }}

{{- $fill := $page.Scratch.Get "card-fill" -}}
{{- $page.Scratch.Set "extra-card-cls" "fancy-pager-item" }}
{{- $vert := $page.Scratch.Get "vertical" | default false -}}
{{- $mdcols := "row-cols-md-2" -}}
{{- if $vert -}}
  {{- $mdcols = "row-cols-md-1" -}}
{{- end -}}

{{- $siblings := "" }}
{{ if or (isset $page.Params "frequency") (eq $page.Type "archives") }}
  {{- $siblings = $page.Parent.Pages.ByWeight.Reverse }}
{{ else }}
  {{- $siblings = $page.Parent.Pages.ByWeight }}
{{ end }}

<div class="fancy-pager mx-auto row row-cols-1 {{ $mdcols }}">
  {{- $index := 0 }}
  {{- range $i, $v := $siblings }}
    {{- if eq $v.Weight $page.Weight }}
      {{- $index = $i }}
    {{- end }}
  {{- end }}

  {{- $prev := sub $index 1 }}
  {{- $next := add $index 1 }}

  {{- if ge $prev 0 }}
    {{- $prev := index $siblings $prev }}
    {{- $prev.Scratch.Set "pager" "prev" }}
    {{- $prev.Scratch.Set "card-fill" $fill -}}
    {{- $prev.Scratch.Set "extra-card-cls" ($page.Scratch.Get "extra-card-cls") -}}
    {{- partial "card" $prev }}
  {{- end }}

  {{- if lt $next (len $siblings) }}
    {{- $next := index $siblings $next }}
    {{- $next.Scratch.Set "pager" "next" }}
    {{- $next.Scratch.Set "card-fill" $fill -}}
    {{- $next.Scratch.Set "extra-card-cls" ($page.Scratch.Get "extra-card-cls") -}}
    {{- partial "card" $next }}
  {{- end }}
</div>
