{{ $page := . }}

<div class="container-fluid docs">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 docs-sidebar">
      {{ partial "docs_sidebar" . }}
    </div>

    <div class="d-none d-xl-block col-xl-2 docs-toc">
      <ul class="nav toc-top">
        <li>
          <a href="#" id="back_to_top"
            class="docs-toc-title">{{ i18n "on_this_page" }}</a>
        </li>
      </ul>
      {{ .TableOfContents }} {{ partial "docs_toc_foot" . }}
    </div>

    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 docs-content"
      role="main">
      <h1>{{ .Title }}</h1>
      <article class="article">
        <div class="docs-article-container">
          <div class="docs-article-abstract"></div>
          <div class="docs-article-facts">
            <div class="docs-article-tags article-tags">
              <strong>Topics:</strong>
              {{ partial "module/tags" . }}
            </div>
          </div>

          <div class="article-widget">
            {{ partial "widgets/when2meet" . }}
          </div>

          <div class="article-widget">
            {{ partial "widgets/coordinators" . }}
          </div>

          {{ if site.Params.docs_section_pager }}
          <div class="article-widget">
            {{ partial "section_pager" . }}
          </div>
          {{ end }}
        </div>
      </article>

      <div class="body-footer">
        <p>Last updated: {{ $.Lastmod.Format site.Params.date_format }}</p>
      </div>

      {{ partial "site_footer" . }}
    </main>
  </div>
</div>