{{/* Requires a Dict with ["urls", "text"] keys */}}
{{- $page := . -}}

{{- $urls := .Params.urls -}}
{{- $show := $.Scratch.Get "show-link-text" -}}

{{- range $values := site.Data.config.buttons -}}
  {{- $platform := index $values "platform" -}}
  {{- $url := "" -}}
  {{- with $urls -}}
    {{ $url = index . $platform }}
  {{- end -}}
  {{- with $url -}}
    {{- $txt := "" -}}
    {{- with $show -}}
      {{ $txt = index $values "btn-text" }}
    {{- end -}}

    {{- $cls := index $values "fa-class" -}}

    {{- $urlRegex := index $values "url-repl" -}}
    {{ $regex := partial "functions/url-regex" (dict "page" $page "regex" $urlRegex "slug" $url) }}

    {{ $url = $regex.url }}
    {{ $target := $regex.target }}

    <a class="btn btn-sm my-1 mr-1 btn-{{ $platform }}"
       href="{{ $url | safeURL }}" {{- $target | safeHTMLAttr }}>
      {{- $margin := "" -}}
      {{- with $txt -}}{{ $margin = "mr-1" }}{{- end -}}
      <i class="{{ $cls }} {{ $margin }} fa-fw"></i> 
      {{- with $txt -}}{{ . }}{{- end -}}
    </a>
  {{- end }}
{{- end -}}