{{ $ := . }}
{{ $page := . }}
{{ $show_logo := site.Params.main_menu.show_logo | default true }}
{{ $aos_toggles := "data-aos='nav-fade-in' data-aos-duration='200' data-aos-anchor-placement='bottom-top'"}}

<nav id="navbar-main"
  class="navbar navbar-expand-lg navbar-light compensate-for-scrollbar"
  {{- if .IsHome -}}{{ $aos_toggles }}{{- end -}}>
  <div class="container">

    {{ $logoURL := "/brand/fullmark/dark-bg-ready.svg" | relURL }}

    {{if not .IsHome }}
    <div class="d-none d-lg-inline-flex">
      <a class="navbar-brand" href="{{ "/" | relLangURL }}">
        <img src="{{ $logoURL }}" alt="{{ site.Title }}">
      </a>
    </div>
    {{end}}

    {{ if site.Menus.main }}
    <button type="button" class="navbar-toggler" data-toggle="collapse"
      data-target="#navbar-content" aria-controls="navbar" aria-expanded="false"
      aria-label="{{ i18n "toggle_navigation" }}">
      <span><i class="fas fa-bars"></i></span>
    </button>
    {{ end }}

    <div class="navbar-brand-mobile-wrapper d-inline-flex d-lg-none">
      <a class="navbar-brand" href="{{ "/" | relLangURL }}">
        <img src="{{ $logoURL }}" alt="{{ site.Title }}">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    {{ $align_menu := site.Params.main_menu.align | default "l" }}
    {{ $align := "center" }}
    {{ $align = cond (eq $align_menu "r") "end"   $align }}
    {{ $align = cond (eq $align_menu "l") "start" $align }}
    <div
      class="navbar-collapse main-menu-item collapse justify-content-{{ $align }}"
      id="navbar-content">

      <!-- Left Nav Bar -->
      <ul class="navbar-nav d-md-inline-flex">
        {{ $page.Scratch.Set "status" "archived" }}
        {{ $page.Scratch.Set "semester" site.Data.config.semester }}
        {{ $groups := partial "functions/get-groups" $page }}
        {{ $archivedGroups := slice }}
        {{ range $groups }}
          {{ $archivedGroups = $archivedGroups | append .Title }}
        {{ end }}

        {{ $dict := dict "current" $page "archivedGroups" $archivedGroups }}
        {{ range site.Menus.main }}
          {{ partial "nav-item" ((dict "page" . ) | merge $dict) }}
        {{ end }}
        {{ $page.Scratch.Set "semester" (partial "functions/infer-semester" $page)}}
      </ul>
      {{ if site.Menus.main_right | and (eq $align_menu "l") }}
      <ul class="navbar-nav ml-md-auto">
        {{ range site.Menus.main_right }}
          {{ partial "nav-item" ((dict "page" .) | merge $dict) }}
        {{ end }}
      </ul>
      {{ end }}

    </div><!-- /.navbar-collapse -->

    <ul class="nav-icons navbar-nav flex-row ml-auto d-flex pl-md-2">
      <li class="nav-item">
        <!-- <div class="netlify-login" data-netlify-identity-button>Login</div> -->
      </li>
      {{ if site.Params.search.engine }}
      <li class="nav-item">
        <a class="nav-link js-search" href="#"><i class="fas fa-search"
            aria-hidden="true"></i></a>
      </li>
      {{ end }}

      {{ if .IsTranslated }}
      <li class="nav-item dropdown i18n-dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true">
          <i class="fas fa-globe mr-1" aria-hidden="true"></i><span
            class="d-none d-lg-inline">{{ index site.Data.i18n.languages .Lang }}</span>
        </a>
        <div class="dropdown-menu">
          <div class="dropdown-item i18n-active font-weight-bold">
            <span>{{ index site.Data.i18n.languages .Lang }}</span>
          </div>
          {{ range .Translations }}
          <a class="dropdown-item" href="{{ .Permalink }}" {{ if $.IsHome }}
            data-target="{{ .RelPermalink }}" {{ end }}>
            <span>{{ index site.Data.i18n.languages .Lang }}</span>
          </a>
          {{ end }}
        </div>
      </li>
      {{ end }}

    </ul>

  </div><!-- /.container -->
</nav>

{{ partial "breadcrumb" . }}