{{- define "main" -}}
{{ $page := . }}

{{/* Check that user fully installed Academic. */}}
{{ if not (isset site.Params "theme") }}
{{ errorf "Please complete the installation of Academic by following the steps at https://sourcethemes.com/academic/docs/install/" }}
{{ end }}

<main id="home" class="container px-3 py-5 mx-auto" role="main">
  <div class="row" id="landing-page">
    <div id="landing-text" class="col-lg-6 col-12">
      <img id="landing-logomark" class="pb-3"
        src="/brand/fullmark/dark-bg-ready.svg" />
      <p>{{ site.Params.description }}</p>
    </div>
  </div>

  {{ $page.Content }}

  {{ $page.Scratch.Set "status" "active" }}
  {{ $page.Scratch.Set "n-cols" 3 }}
  {{ $page.Scratch.Set "show-group" true }}
  {{ partial "groups/status" $page }}
</main>

{{ partial "particles" . }}

{{- end -}}