{{ $page := .Page}}
{{ $show_social := $page.Params.design.show_social | default true }}
{{ $show_interests := $page.Params.design.show_interests | default false }}

<div class="row justify-content-center people-widget">
  {{ range $page.Params.user_groups }}
    {{ $group := . }}
    {{ $query := where (where site.Pages "Section" "authors") "Params.user_groups" "intersect" (slice $group) }}

    {{ $group = delimit (last 1 (split $group "-")) " " }}
    {{ range $query }}
      {{/* Get link to user's profile page. */}}
      {{ $link := "" }}
      {{ with site.GetPage (printf "/authors/%s" (path.Base (path.Split .Path).Dir)) }}
        {{ $link = .RelPermalink }}
      {{ end }}
      <div class="col-12 col-sm-auto people-person {{ $group }}">
        <a href="{{ $link }}">
          <img class="portrait" src="https://avatars.githubusercontent.com/{{ .Params.github }}" alt="{{ .Params.github }}'s GitHub Avatar">
        </a>

        <div class="portrait-title">
          <h2><a href="{{ $link }}">{{ .Params.name }}</a></h2>
          <h3>{{ title $group }}</h3>
          {{ if $show_social }}{{ partial "social_links" . }}{{ end }}
          {{ if and $show_interests .Params.interests }}<p class="people-interests">{{ delimit .Params.interests ", " | markdownify | emojify }}</p>{{ end }}
        </div>
      </div>
    {{ end }}
  {{ end }}
</div>
