{{- $page := .Page -}}
{{/* some "sensible defaults" */}}
{{- $wday := "TBD" -}}
{{- $room := "TBD" -}}
{{- $time := "TBD" -}}
{{- $freq := "weekly" -}}
{{- $semester := delimit (last 1 (split $page.Name ", ")) "" -}}
{{- with $page.Date -}}
    {{- $wday = .Format "Mon" -}}
{{- end -}}
{{- with $page.Params.room -}}
    {{- $room = . -}}
{{- end -}}
{{- with $page.Date -}}
    {{- $time = .Format "03:04 PM" -}}
{{- end -}}
{{- with $page.Params.frequency -}}
    {{- $freq = . -}}
{{- end -}}
<div class="alert alert-secondary"> <div>

We usually meet, **{{ $freq }}**, on **{{ $wday }}** in **{{ $room }}** at **{{ $time }}**.

</div> </div>

**NOTE:** This is when/where we _try to meet_, but sometimes we have different dates, times, and/or locations. _Checking each meeting for their actual info!_